*.class
*.log

\.idea/libraries/

target/scala-2\.11/resolution-cache/reports/

target/streams/\$global/dependencyPositions/\$global/streams/update_cache_2\.11/

\.idea/

project/target/config-classes/

\.DS_Store

project/target/scala-2\.12/sbt-1\.0/resolution-cache/default/sparkex1-build/scala_2\.12/sbt_1\.0/0\.1\.0-SNAPSHOT/

project/target/scala-2\.12/sbt-1\.0/resolution-cache/reports/

target/scala-2\.11/classes/

project/target/streams/runtime/internalDependencyClasspath/\$global/streams/

project/target/streams/runtime/fullClasspath/\$global/streams/
